body {
    background: radial-gradient(orange, black 85%)
}

h1 {
    color: rgb(235, 225, 225);
}

.wrapper {
    margin: 50px;
    border: 10px solid green;
}

.flexbox {
    border: 20px solid #1d235f;
}

.flexbox__item {
    flex-basis: 20%;
    border: 5px solid #010305;
    background-color: chocolate;
}

.flexbox__item-content {
    font-size: 2rem;
    color: rgb(235, 225, 225);
    text-align: center;
}

.flexbox {
    display: flex;    
    align-items: center;
}

.flexbox__item:first-child {
    height: 90px;
}

.flexbox__item:nth-child(4) {
    height: 80px;
}
