body {
    background-color: black;
}

h1, h2 {
    color: crimson;
    font-size: 2em;
}

.block {
    color: aquamarine;
    border: 4px dashed rgb(90, 75, 69);
    width: 400px;
    background-color: #aa8452;
}

.menu {
    font-size: 2rem;
}

.menu__item:hover:first-child {
    color: red;
} 

