h1 {
    font-size: 5em ;
}

.block {
    height: 400px;
    width: 400px;
    background: url("../les23/view/koramo.jpg") no-repeat center, radial-gradient(#070707 40%, #1a8d1c)
}


.block2 {
    height: 500px;
    width: 500px; 
    background: url("../les23/view/morako.jpeg"),linear-gradient( #000000d3, #660707, #141313ee);
    background-repeat: no-repeat;
    background-position: center;
}